<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/rana/IdeaProjects/StoreusAssignment">
        <classes>
            <!--<class name="SignUpTests">
                <methods>
                    <include name="signUpWithValidData">
                    </include>
                </methods>
            </class>-->

            <class name="LoginTests">
                <methods>
                    <include name="loginWithValidData">
                    </include>
                    <include name="loginWithInValidData">
                    </include>
                </methods>
            </class>
            <class name="SignUpTests">
                <methods>
                    <include name="signUPWithValidData">
                    </include>
                    <include name="signupWithInvalidEmail">
                    </include>
                </methods>
            </class>

        </classes>
    </test>
</suite>